/* ******************* */
/* HEADER */
/* ******************* */

.img-background {
  background-image: url("../img/chairheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-size: 3rem;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 6.4rem;
}

.header-container {
  background-color: #fff;
  border-radius: 4rem;
  padding: 2rem 4rem 2rem 4rem;
  background-color: rgba(255, 255, 255, 0.554);

  gap: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.214);
}

.header-btn,
.menu-btn {
  text-decoration: none;
  font-size: 2rem;
  color: #222;

  transition: all 0.5s;
}
/* BOTON DE MENU */
.menu-btn {
  color: #e67700;
  text-transform: uppercase;
  font-size: 1.8rem;

  background-image: linear-gradient(to right, #98320b, #f76707 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.menu-btn:before {
  content: "";
  background: #f08c00;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.menu-btn:hover {
  background-position: 0;
}

.menu-btn:hover::before {
  width: 100%;
}

/* ************************** */
/* SECTION HERO */
/* ************************** */

.section-hero {
  font-size: 2rem;
  padding: 8rem;
  color: #222;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.hero-cta {
  background-color: #f08c00;
  border-radius: 5% 35% 5% 5%;

  padding: 2rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.253);

  transition: all 0.6s;
}

.hero-cta:hover {
  transform: translateY(-1rem);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.214);
}

.hero-text {
  font-size: 1.6rem;
  padding: 4rem;
}

/* ************************** */
/* SLIDER(carrusel) */
/* *************************** */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: #f8f9fa;
  padding: 2rem;
}

.slider-wrapper {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper .img-list {
  display: grid;
  gap: 1.2rem;
  font-size: 0;
  margin-bottom: 3rem;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(8, 1fr);
}

.slider-wrapper .img-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .img-list .img-item {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.slider-wrapper .slider-scrollbar {
  height: 2.4rem;
  width: 100%;

  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollback-track {
  height: 2rem;
  width: 100%;
  background: #ccc;
}

.slider-scrollbar .scrollback-thumb {
  position: absolute;
  height: 2rem;
  width: 100%;
  background: #000;
}
